<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<title>Error 500</title>
</head>
<body>
	<img
		src="/img/error-img/error-500.jpg" width="1365" height="625">
	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>